#parse("header.vm")
<br>
<div id="demo1"></div>
<script>

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      let str = this.responseText;
      let newStr = str.replace("uri,title", "");
      let newStr1 = newStr.replace(/http/g, ",,http");
      var strArray = newStr1.split(",,");
      let newStr2 = "";
      
      var no = 1;
      // Display array values on page
      for(var i = 0; i < strArray.length; i++){
          var strArray1 = strArray[i].split(",");
          for(var x = 1; x < strArray1.length; x++){
          	document.getElementById("demo1").innerHTML += ("<font style='font-size: 16px;'>&nbsp;&nbsp;&nbsp;" + no + ". <a href='" + strArray1[0] + "' style='color: #000;text-decoration:none'>" + strArray1[1] + " [click]</a></font><br>");
                
                no++;
          }
          //document.write("<p>" + strArray[i] + "</p>");
      }
      
    
    }
  };
  xhttp.open("GET", "http://localhost:3030/sparql?query=%23%23+prefix+standard%0D%0APREFIX+folktale%3A+%3Chttp%3A%2F%2Fwww.hozo.jp%2Fowl%2FFolktale.owl%23%3E%0D%0APREFIX+fn%3A+%3Chttp%3A%2F%2Fxmlns.com%2Ffoaf%2F0.1%2Fname%3E++%0D%0APREFIX+sa%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2002%2F07%2Fowl%23sameAs%3E+%0D%0A%0D%0A%23%23+Query+all+title+with+uri%0D%0APREFIX+folktale%3A+%3Chttp%3A%2F%2Fwww.hozo.jp%2Fowl%2FFolktale.owl%23%3E%0D%0APREFIX+fn%3A+%3Chttp%3A%2F%2Fxmlns.com%2Ffoaf%2F0.1%2Fname%3E++%0D%0APREFIX+sa%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2002%2F07%2Fowl%23sameAs%3E+%0D%0ASELECT+%3Furi+%3Ftitle%0D%0AWHERE%0D%0A%7B+%3Furi+fn%3A+%3Ftitle+%7D%0D%0AORDER+BY+ASC%28%3Furi%29&default-graph-uri=http%3A%2F%2Flocalhost%3A3030%2Ffolktalegms-202301.ttl&output=csv&stylesheet=&force-accept=text%2Fplain", true);
  xhttp.send();

document.title = "Home | Linked Open Data Platform for Folktale in the Greater Mekong Subregion";
document.getElementById("title").innerHTML = ("Data in Linked Open Data Platform");
</script>

<br>
<br>

#parse("footer.vm")